/*A common css file for main*/

.main{
    width: 1140px;
    height: 920px;
    border: 1px solid none;
    margin-top: 87px;
    margin-left: 540px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
}
/*---------------------Infrometion Component------------------------------------*/
.box1{
    width:480px ;
    height: 920px;
    border: 1px solid none;
    background:var(--FNAFWorld);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.infoSite{
    display: flex;
    flex-direction: column;
    
}
.h1{
  margin-top: 400px;
  align-items: center;
  font-size: 44px;
  margin-left: -60px;
  color: var(--White);
    
}
.p{
    margin-top: -20px;
    font-size: 12px;
    margin-left: 50px;
    color: var(--White);
}
.button{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 140px;
    background: var(--FNAFWorld);
    border: 1px solid var(--White);
    color: var(--White);
}
/*---------------------Login Component------------------------------------*/
.box2{
    width: 660px;
    height: 920px;
    border: 1px solid none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--White);
   display: flex;
   flex-direction: column;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-left: 240px;
    gap: 20px;
}

.icon1{
    width: 50px;
    
}
.account{
    font-size: 54px;
    color: var(--FNAFWorld);
    margin-top: 160px;
}
.inputicon{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 60px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    background: var(--GlacierGray);
    margin-left: 140px;
    
}
.img1{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
.input{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background: var(--GlacierGray);
    border: none;
    margin-left: 10px;
    width: 400px;
}
.h3{
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-top: 50px;
    color: var(--FNAFWorld);
}

.button1{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 200px;
    height: 30px;
    margin-left: 30px;
    margin-top: 40px;
    background: var(--FNAFWorld);
    border: 1px solid var(--White);
    color: var(--White);

}


@media screen and (max-width: 1200px) {
    .main {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
      align-items: center;
    }
  
    .box1, .box2 {
      width: 100%;
      border-radius: 0;
      height: auto;
    }
  
    .inputicon, .input, .h3, .button1 {
      margin-left: 0;
      align-self: center;
    }
  }