.taskbarConteiner {
  display: flex;
  flex-direction: column;
  height: 690px;
  margin: 0 2% 0;
  margin-top: 5%;
}

.newTaskbarAdd {
  width: 233px;
  height: 44px;
  color: #f0eef5;
  background-color: #4f425e;
  border-radius: 5px;
  border: 1 solid #4f425e;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 18px;
}

.taskName {
  width: 233px;
  height: 44px;
  color: #f0eef5;
  background-color: #4f425e;
  border-radius: 5px;
  border: 1 solid #4f425e;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.taskbar {
  overflow: scroll;
  scrollbar-color: #4f425e #bfbfc0;
  width: "96%";
  margin-bottom: 5%;
  background-color: whitesmoke;
}

.taskbarDatas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
}

.taskbarTools {
  width: 100%;
  height: 690px;
}
.projectData {
  margin-left: 18px;
  margin-bottom: 5px;
}
.projectData h3 {
  width: 224px;
  height: 24px;
  padding-left: 5%;
  padding-right: 5%;
  color: #f0eef5;
  background-color: #4f425e;
}

.task {
  width: 265px;
  min-height: 690px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #f8f7fa;
  overflow: auto;
  scrollbar-color: #4f425e #bfbfc0;
}
