/*This is the add person bxi css file*/

.boxadd{
    width: 374px;
    height: 612px;
    margin-top: 100px;
    margin-left: 940px;
    border: 1px solid var( --GlacierGray);
    box-shadow: 0.5px 0.5px 0.5px 1px var( --GlacierGray) ;
    background: var(--White);
    overflow-y: scroll;
}
.h3{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 24px;
}
.button3{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 200px;
    height: 30px;
    margin-top: 400px;
    margin-left: 150px;
    background: var(--FNAFWorld);
    border: 1px solid var(--White);
    color: var(--White);
}